PORT=4004
MONGO_URI=mongodb://localhost:27017/stayease_payment_db
AUTH_SERVICE_URL=http://localhost:4001
INTERNAL_SERVICE_KEY=replace-this-with-strong-random-value
PAYMENT_GATEWAY_MODE=mock
STRIPE_SECRET_KEY=
STRIPE_DEFAULT_PAYMENT_METHOD_ID=pm_card_visa
